[Desktop Entry]
Version=1.0
Type=Application
Name=DataGrip
Icon=/opt/DataGrip-2026.1.3/bin/datagrip.svg
Exec="/opt/DataGrip-2026.1.3/bin/datagrip" %f
Comment=IDE for Databases and SQL
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-datagrip
StartupNotify=true
