{{- if eq .chezmoi.os "darwin" -}}
.wallpaper.jpg
.Xmodmap
.xprofile
.Xresources
.config/copyq
.config/dunst
.config/i3
.config/i3status
.config/picom
.config/rofi
.config/glab-cli
.claude/hooks
{{- else -}}
Library/Application\ Support/glab-cli
.config/gh
.config/skhd
.config/yabai
.config/karabiner
.config/linearmouse
{{- end -}}
