{{- if eq .chezmoi.os "darwin" -}}
.wallpaper.jpg
.X{modmap,resources}
.xprofile
.config/{copyq,dunst,i3,i3status,picom,rofi,glab-cli}
.config/fish/functions/{audio,call,music}.fish
.claude/hooks
.ssh
{{- else -}}
Library/Application\ Support/glab-cli
.config/{gh,skhd,yabai,karabiner,linearmouse}
{{- end -}}
