root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,ts,html,r,rmd,sh,bash,zsh}]
indent_style = space
indent_size = 2

[*.{c,cpp,hpp,h,cc,java,py,snippets}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[*.{go}]
indent_style = tab
indent_size = 4
