root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4

[*.{js,ts,html}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4

[*.{go}]
indent_style = tab

[*.{c,cpp,hpp,h,cc}]
indent_style = space
indent_size = 4

[*.snippets]
indent_style = space
indent_size = 4

[*.{java}]
indent_style = space
indent_size = 4

[*.{lua}]
indent_style = space
indent_size = 2

[*.{bash,sh,zsh}]
indent_style = space
indent_size = 2
