[user]
	name = Kevin Zhang
	email = {{ .email | quote }}
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	pager = delta
{{ if eq .chezmoi.hostname "api" "LLTUSMZ01KEHF" }}
	hooksPath = ~/.githooks
{{ end }}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[filter-repo]
	tool = fit-filter-repo
[color]
	ui = auto
[alias]
	ac = !git add . && git commit -m
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
    dark = true
    syntax-theme = everforest
    file-style = "#d3c6aa" bold
    file-added-label = [+]
    file-copied-label = [==]
    file-modified-label = [*]
    file-removed-label = [-]
    file-renamed-label = [->]
    file-decoration-style = "#859289" ul
    hunk-header-style = omit
    inline-hint-style = syntax
    minus-style = syntax "#514045"
    minus-emph-style = "#2d353b" bold  "#e67e80"
    minus-non-emph-style = syntax auto
    plus-style = syntax "#425047"
    plus-emph-style = "#2d353b" bold "#a7c080"
    plus-non-emph-style = syntax auto
    whitespace-error-style = "#514045" reverse
    commit-style = "#dbbc7f" bold
    blame-code-style = syntax
    blame-palette = "#2d353b" "#343f44"
    merge-conflict-begin-symbol = ⌃
    merge-conflict-end-symbol = ⌄
    merge-conflict-ours-diff-header-style = "#dbbc7f" bold
    merge-conflict-theirs-diff-header-style = "#dbbc7f" bold overline
    merge-conflict-ours-diff-header-decoration-style = ""
    merge-conflict-theirs-diff-header-decoration-style = ""

[merge]
	tool = nvimdiff2
[mergetool]
	keepBackup = false
[git-util]
	managed = true

{{ if eq .chezmoi.hostname "api" "LLTUSMZ01KEHF" -}}
[include]
	path = ~/.ttd/git-util/gitconfig
{{- end -}}
