#!/bin/bash

homebrew_url="https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh"
command -v brew &>/dev/null || bash -c "$(curl -fsSL "$homebrew_url")"

{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >> ~/.zshrc
{{- else -}}
test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)"
test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >> ~/.bashrc
{{- end -}}
