#!/bin/bash

set -eux

brew update

brew bundle install --file=/dev/stdin <<EOF
{{ range .packages.common.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
EOF
{{ if eq .chezmoi.os "linux" }}
sudo apt install -y \
{{ range $index, $apt := .packages.linux.apts }}{{ if $index }} \
{{ end }}    {{ $apt | quote }}{{ end }}

sudo snap install \
{{ range $index, $snap := .packages.linux.snaps }}{{ if $index }} \
{{ end }}    {{ $snap | quote }}{{ end }}
{{ end }}
brew cleanup
