#!/bin/sh
exec {{ if eq .chezmoi.os "darwin" }}/opt/homebrew/bin/fish{{ else }}env fish{{ end }} -ilc '
    printf "env PATH=%s\n" (string join : -- $PATH) >&3
    printf "env FZF_DEFAULT_OPTS=%s\n" "$FZF_DEFAULT_OPTS" >&3
' 3>&1 >/dev/null
