/**
 * @name Gruvbox Material
 * @description Gruvbox Material theme for Discord
 * @author midgramr
 * @version 0.0.1
*/

.theme-dark {
  --background-base-low: #242424;
  --background-base-lower: #282828;
  --background-base-lowest: #242424;
  --background-code: #282828;
  --background-mod-normal: #32302f;
  --background-mod-strong: #45403d;
  --background-surface-high: #32302f;
  --background-surface-higher: #32302f;
  --background-surface-highest: #45403d;
  --card-background-default: #32302f;
  --channels-default: #928374;
  --channel-icon: #928374;
  --channel-text-area-placeholder: #928374;
  --chat-background-default: #32302f;
  --chat-text-muted: #928374;
  --control-primary-text-active: #282828;
  --control-primary-text-default: #282828;
  --control-primary-text-hover: #282828;
  --control-secondary-text-default: #d4be98;
  --gradient-progress-pill-background: #5a524c;
  --icon-muted: #928374;
  --icon-strong: #d4be98;
  --icon-subtle: #a89984;
  --input-placeholder-text-default: #928374;
  --interactive-background-active: #32302f;
  --interactive-background-selected: #32302fa0;
  --interactive-background-hover: #32302fa0;
  --interactive-text-active: #d4be98;
  --interactive-text-default: #928374;
  --interactive-text-hover: #d4be98;
  --interactive-icon-default: #928374;
  --message-background-hover: #32302f;
  --modal-background: #282828;
  --modal-footer-background: #282828;
  --opacity-blurple-8: #45403d;
  --primary-400: #5a524c;
  --slider-track-background: #5a524c;
  --spine-default: #45403d;
  --text-default: #d4be98;
  --text-muted: #928374;
  --text-strong: #d4be98;
  --text-subtle: #a89984;
  --user-profile-overlay-background: #45403d;

  --background-brand: color-mix(in srgb, #e78a4e 85%, #282828 15%);
  --background-feedback-notification: #ea6962;
  --background-feedback-warning: #d8a65718;
  --brand-500: color-mix(in srgb, #e78a4e 85%, #282828 15%);
  --control-critical-primary-background-default: #ea6962;
  --control-connected-background-default: #a9b665;
  --control-primary-background-active: #e78a4e;
  --control-primary-background-default: #e78a4e;
  --control-primary-background-hover: #eba16f;
  --control-primary-border-default: #e78a4e;
  --icon-feedback-info: #7daea3;
  --icon-feedback-warning: #d8a657;
  --icon-positive-feedback: #89b482;
  --mention-background: color-mix(in srgb, #e78a4e 20%, #282828 80%);
  --mention-foreground: color-mix(in srgb, #e78a4e 20%, #e1d2b7 80%);
  --message-highlight-background-default: #e78a4e18;
  --message-mentioned-background-default: #d8a65718;
  --radio-background-selected-active: #eba16f;
  --radio-background-selected-default: #e78a4e;
  --radio-background-selected-hover: #eba16f;
  --reaction-background-reacted-default: #e78a4e30;
  --reaction-border-reacted-default: #e78a4e;
  --text-brand: #e78a4e;
  --text-link: #e78a4e;

  /* Code */
  --text-code: #d4be98;
  --text-code-keyword: #ea6962;
  --text-code-type: #d8a657;
  --text-code-title: #a9b665;
  --text-code-variable: #7daea3;
  --text-code-attribute: #89b482;
  --text-code-decorator: #d3869b;
  --text-code-property: #7daea3;
  --text-code-number: #d3869b;
  --text-code-operator: #e78a4e;
  --text-code-string: #a9b665;
  --text-code-regexp: #a9b665;
  --text-code-builtin: #89b482;
  --text-code-comment: #928374;
  --text-code-tag: #e78a4e;
  --text-code-section: #e78a4e;
  --text-code-bullet: #e78a4e;
  --text-code-link: #7daea3;
  --text-code-addition: #a9b665;
  --background-code-addition: #34381b;
  --text-code-deletion: #ea6962;
  --background-code-deletion: #402120;

  --border-subtle: #45403d;
}

.wrapper__72c38:not([data-read-only="true"]):has(input:focus, textarea:focus) {
  --custom-input-focus-border-color: #e78a4e !important;
}

.vc-addon-badge {
  background-color: #ea6962 !important;
}

:where(.card__73069) {
  --__card-background-color: #32302f !important;
}

.panels__5e434 {
  border-color: #45403d;
}

.sidebarListRounded__5e434 {
  border-left-color: var(--border-subtle);
  border-top-color: var(--border-subtle);
}

.container__133bf,
.chat_f75fb0 {
  border-color: var(--border-subtle) !important;
}

.container_a28278:has(input:not(:checked)) [data-mana-component="switch"] {
  background-color: #282828 !important;
}

.container_a28278:has(input:checked) [data-mana-component="switch"] {
  background-color: #e78a4e !important;
}

*[fill="#45a366"] {
  fill: #89b482;
}

*[fill="#ffc04e"] {
  fill: #d8a657;
}

*[fill="#da3e44"] {
  fill: #ea6962;
}

.status_a423bd[style*="background-color: rgb(69, 163, 102)"] {
  background-color: #89b482 !important;
}

.newMessagesBar__0f481 {
  color: #282828;
}

.wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8,
.wrapper__6e9f8:hover .childWrapper__6e9f8 {
  color: #e1d2b7;
}

.addFriend__133bf {
  color: #282828 !important;
}

.tabBar__133bf
  .addFriend__133bf.addFriend__133bf.addFriend__133bf[aria-selected="true"] {
  background-color: color-mix(in srgb, #e78a4e 45%, #282828 55%) !important;
}
