configuration {
	font: "Overpass 14";
	show-icons: true;
	terminal: "wezterm";
	dpi: 1;
	kb-remove-char-forward: "Delete";
	kb-remove-to-eol: "";
	kb-remove-to-sol: "";
	kb-accept-entry: "Return,KP_Enter";
	kb-row-up: "Up,Control+k";
	kb-row-down: "Down,Control+j";
	kb-page-prev: "Control+u";
	kb-page-next: "Control+d";
	kb-cancel: "Escape,Hyper+d";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
  drun {
    display-name: ">";
  }
}

* {
  red: #e67e80;
  orange: #e69875;
  blue: #7fbbb3;
  green: #a7c080;
  foreground: #d3c6aa;
  background: #2d353b;
  lightbg: #2d353b;
  lightfg: #425047;
  selected-normal-foreground: #d3c6aa;
  muted: #7a8478;
  separator: #56635f;

  highlight: var(green);
}
window {
  background-color: var(background);
  padding: 8;
  width: 800;
  border: 2px;
  border-color: var(separator);
}
listview  {
  spacing: 0;
  border: none;
  border-color: var(separator);
}
element-icon {
  padding: 0 4 0 0;
}
element {
  padding: 4px 4px;
}
inputbar {
  children: [ entry ];
  background-color: #343f44;
  padding: 8px 4px;
  margin: 0px 0px 4px;
}
entry {
  // font: "Overpass 22";
  background-color: transparent;
  text-color: var(selected-normal-foreground);
  placeholder: "Search…";
  placeholder-color: var(muted);
  cursor-color: var(green);
  blink: false;
}
prompt {
  text-color: var(orange);
}
num-rows, num-filtered-rows, case-indicator, textbox-num-sep {
  text-color: var(separator);
}
textbox-prompt-colon {
  str: "";
}
