vim.pack.add {
  { src = 'https://github.com/scalameta/nvim-metals' },
  { src = 'https://github.com/nvim-lua/plenary.nvim' }, -- required dep
}

local ft = { 'scala', 'sbt', 'java' }

local metals_config = require('metals').bare_config()
metals_config.init_options.statusBarProvider = 'off'

{{ if eq .chezmoi.os "linux" -}}
local jdk21 = '/home/linuxbrew/.linuxbrew/opt/openjdk@21/libexec'
{{- else -}}
local jdk21 = '/opt/homebrew/opt/openjdk@21/libexec'
{{- end }}

metals_config.settings = {
  serverVersion = '2.0.0-M2',
  serverProperties = { '-Xmx4g' },
  javaHome = jdk21,
}

local group = vim.api.nvim_create_augroup('nvim-metals', { clear = true })
vim.api.nvim_create_autocmd('FileType', {
  pattern = ft,
  group = group,
  callback = function()
    vim.env.JAVA_HOME = jdk21
    require('metals').initialize_or_attach(metals_config)
  end,
})
